/* FONTS */
/* Xanh Mono  */ @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Xanh+Mono:ital@0;1&display=swap');
/* Roboto Mono */ @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Xanh+Mono:ital@0;1&display=swap');


:root {
	--root-size: 1.2rem;
	--main-bg-color: #1B1B1B;
	--main-text-color: #F2F0EF;
	--title-font-family: "Xanh Mono", serif;
    --title-font-weight: 400;
    --title-font-style: normal;
	--body-font-family: "Roboto Mono", serif;
	--body-font-optical-sizing: auto;
	--body-font-style: normal;

  }

body {
	margin: 0;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: var(--body-font-family);
}

/* ---------- DEFAULT: MOBILE LAYOUT ---------- */

/* TITLE */

#title-wrapper {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
	border-bottom-style: solid;
	border-bottom-color: #A1A1A1; 

}

.header-main {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    flex: 1; 
    position: relative; 
	margin: 0;
}


#main-title-desktop{
	display: none;
}

#main-title-mobile {
    font-family: var(--title-font-family);
    font-size: calc(var(--root-size) * 2);
    text-align: right; 
    margin-bottom: 0;
}

.arrows-container {
    display: flex;
    flex-direction: column; 
    margin-top: 2rem;
}

#arrow {
    display: block;
    position: relative;
    margin-bottom: 2rem;
}

.line {
    display: block;
    width: 40vw;
    height: 1px;
    background: var(--main-text-color);
}

.triangle {
    display: block;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid #F2F0EF;
    position: absolute;
    left: 40vw;
    bottom: -0.5rem;
}

address, time {
    font-style: italic;
    text-align: center;
}

.header-white {
	overflow-x: hidden;
    display: flex;
    flex-direction: column;
    text-align: left; 
    margin-left: 1rem;
    flex: 1; 
	font-family: var(--title-font-family);
	font-style: italic;
	font-size: calc(var(--root-size) * 3);
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
    /* text-stroke: 0.8px var(--main-text-color);   */
	border-left-style: solid;
	border-left-color: #A1A1A1; 
}

h1 {
	margin-left: 0.5rem;
}


/* BODY TEXT */
article {
	margin-top: 2rem; 
	margin-right: 0.5rem;
	margin-left: 0.5rem;
    padding: 1rem; 
	margin-bottom: 5rem;
}

p {
	margin-bottom: 1rem;
	line-height: 1.5;
}

/* SECTION TITLES */
.section-title {
    border-top-style: solid;
	border-top-color:  #A1A1A1; 
	border-bottom-style: solid;
	border-bottom-color:  #A1A1A1; 
	height: 30vh;
}

h3 {
    font-family: var(--title-font-family);
    font-size: calc(var(--root-size) * 1.5);
    text-align: right; 
    margin: 1rem; 
    width: 70vw; 
    margin-left: auto; 
}

.section-title {
	font-family: var(--title-font-family);
    font-size: calc(var(--root-size) * 2);
}

.section-emphasis {
	font-size: calc(var(--root-size) * 3);
	margin-top: 3.5rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	font-style: italic;
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
}

/* SUBSECTION TITLES */
.subsection {
	font-size: calc(var(--root-size) * 1.8);
	text-align: left; 
    margin-left: 1rem; 
	margin-bottom:-1.5rem;
	font-style: italic;
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
}

/* ---------- MEDIA QUERIES: DESKTOP ---------- */
