/* FONTS */
/* Xanh Mono  */ @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Xanh+Mono:ital@0;1&display=swap');
/* Roboto Mono */ @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Xanh+Mono:ital@0;1&display=swap');


:root {
	--root-size: 1.2rem;
	--main-bg-color: #1B1B1B;
	--main-text-color: #edebeb;
	--title-font-family: "Xanh Mono", serif;
	--title-font-weight: 400;
	--title-font-style: normal;
	--body-font-family: "Roboto Mono", serif;
	--body-font-optical-sizing: auto;
	--body-font-weight: 350;
	--body-font-style: normal;
	
}

body {
	margin: 0;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
}

/* ---------- DEFAULT: MOBILE LAYOUT ---------- */

/* TITLE */

#title-wrapper-desktop {
	display: none;
}

.header-main {
	display: none;
}


#title-wrapper-mobile {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
	border-bottom-style: solid;
	border-bottom-color: #A1A1A1; 

}

.header-main-mobile {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    flex: 1; 
    position: relative; 
	margin: 0;
}

#main-title-desktop{
	display: none;
}

#main-title-mobile {
    font-family: var(--title-font-family);
    font-size: calc(var(--root-size) * 2);
    text-align: right; 
    margin-bottom: 0;
}

.arrows-container-mobile {
    display: flex;
    flex-direction: column; 
    margin-top: 2rem;
}

.arrows-container {
	display: none;
}

#arrow {
    display: block;
    position: relative;
    margin-bottom: 2rem;
}

.line {
    display: block;
    width: 40vw;
    height: 1px;
    background: var(--main-text-color);
}

.triangle {
    display: block;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid #F2F0EF;
    position: absolute;
    left: 40vw;
    bottom: -0.5rem;
}

address, time {
    font-style: italic;
    text-align: center;
}

.header-white {
	display: none;
}

.header-white-mobile {
	overflow-x: hidden;
    display: flex;
    flex-direction: column;
    text-align: left; 
    margin-left: 1rem;
    flex: 1; 
	font-family: var(--title-font-family);
	font-style: italic;
	font-size: calc(var(--root-size) * 3);
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
    /* text-stroke: 0.8px var(--main-text-color);   */
	border-left-style: solid;
	border-left-color: #A1A1A1; 
}

h1 {
	margin-left: 0.5rem;
}

/* BODY TEXT */
article {
	margin-top: 2rem; 
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding: 1rem; 
	margin-bottom: 5rem;
	font-size: calc(var(--root-size) * 0.9);
}

p {
	margin-bottom: 1rem;
	line-height: 1.5;
}

/* bold */
#last-sentence {
	font-weight: 700;
}


/* SECTION TITLES */
.section-title {
	border-top-style: solid;
	border-top-color:  #A1A1A1; 
	border-bottom-style: solid;
	border-bottom-color:  #A1A1A1; 
	height: auto;
	font-family: var(--title-font-family);
	font-size: calc(var(--root-size) * 2);
}

h3 {
	font-family: var(--title-font-family);
	font-size: calc(var(--root-size) * 1.5);
	text-align: right; 
	margin: 1rem; 
	width: 70vw; 
	margin-left: auto;
	margin-bottom: 3.5rem;
}

#h3-in-general {
	margin-bottom: 1rem;
	text-align: left;
	margin-left: 1rem;
	margin-top: -1rem;
}

.section-emphasis {
	font-size: calc(var(--root-size) * 3);
	margin-left: 1rem;
	margin-bottom: 1rem;
	font-style: italic;
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
}

.section-emphasis.what-next{
	padding-top: 2rem;
}

/* SUBSECTION TITLES */
.subsection {
	font-size: calc(var(--root-size) * 1.8);
	text-align: left; 
	margin-left: 1.5rem; 
	margin-bottom:-1.5rem;
	font-style: italic;
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
}

.subsection.sub1{
	margin-top: -3rem;
}

.subsection.sub2{
	margin-top: 5rem;
}


/* BLOCKQUOTE */
#quote {
	border-top-style: solid;
	border-top-color:  #A1A1A1; 
	border-bottom-style: solid;
	border-bottom-color:  #A1A1A1; 
}

blockquote {
	margin: 1.5rem;
	margin-bottom: -0.5rem;
	font-style: italic;
	font-weight: 200;
}

#quote-author{
	text-align: right;
	margin: 1rem;
}

/* FOOTER */
footer {
	display: flex;             
	justify-content: space-between; 
	align-items: center;      
	padding: 1rem;  
	border-top-style: solid;
	border-top-color:  #A1A1A1; 
	height: auto;   
	font-size: calc(var(--root-size) / 1.5);        
}

footer p {
	margin: 0; 
}

footer address {
	margin: 0;
	text-align: right;
	font-style: normal;          
} 

#desktop-footer {
	display:none;
}

#main-title-text { 
	display: none;
}

/* ---------- MEDIA QUERIES: DESKTOP ---------- */

@media (min-width:800px) {

	/* main {
		display: none;
	} */

	body {
		height: 100vh;
	}

	footer {
		display: none;
	}

	#title-wrapper-mobile {
		display: none;
	}

	#title-wrapper-desktop {
		display: flex; 
		/* flex-direction: row;  */
		justify-content: right;
		/* align-items: center; */
		margin: 0;
		padding: 0;
		/*border-bottom-style: solid;
		border-bottom-color: #A1A1A1; */
		min-height: 100vh;
	}


	#main-title-text {
		display: flex;
		flex-direction: column;
		margin-right: 1rem;
	}
	
	.header-main-mobile {
		display: none;
	}
	.header-main {
		display: flex;
		flex-direction: row; /* from column */
		/* flex-wrap: wrap; */
		/* justify-content: flex-start; */
		justify-content: space-evenly;
		align-items: center; 
		/* flex-end */
		/* flex: 2;  */
		position: relative; 
		margin: 0;
		/* margin-top: 1rem; */
		border-bottom-style: solid;
		border-bottom-color: #A1A1A1; 
		height: 30vh;
		padding-left: 0;
		margin-left: 0;
		width: 70vw;
	}
	
	#main-title-desktop {
		display: block;
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 2.3);
		text-align: left; 
		margin-bottom: 0;
		padding-left: 1rem;
		padding-top: 1.5rem;
	}
	
	#main-title-mobile {
		display: none;
	}
	
	.arrows-container {
		display: flex;
		flex-direction: column; 
		/* margin-top: -2rem; */
		/* margin-left: 2rem; */
		padding: 1rem;
		margin-bottom: -1rem;
		padding-right: 2rem;
		margin-left: 1rem;
		margin-top: 0.5rem;
	}

	.arrows-container-mobile {
		display: none;
	}
	
	#arrow {
		display: flex;
		position: relative;
		margin-bottom: 3rem;
	}
	
	.line {
		display: block;
		width:30vw; /* 40vw */
		height: 1px;
		background: var(--main-text-color);
	}
	
	.triangle {
		display: block;
		width: 0;
		height: 0;
		border-top: 0.5rem solid transparent;
		border-bottom: 0.5rem solid transparent;
		border-left: 0.5rem solid #F2F0EF;
		position: absolute;
		left: 30vw; /* 40vw */
		bottom: -0.5rem;
	}
	
	.details{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-width: 10vw;
		font-style: italic;
		text-align: left;
		margin-left: 1rem;
		font-size: calc(var(--root-size) * 0.6);
		margin-top: 0rem;
		padding-bottom: 2rem;
	}

	
	.header-white {
		/* margin-top: -1rem; */
		/* max-width: 30vw; */
		/* flex-basis: 30%; 
   		flex-grow: 1; */
		height: 100vh;
		position: sticky;
		/* overflow-x: hidden; */
		display: flex;
		flex-direction: column;
		text-align: left; 
		margin-left: 0rem;
		flex: 1; 
		font-family: var(--title-font-family);
		font-style: italic;
		font-size: calc(var(--root-size) * 4);
		/* font-size: 800%; */
		color: var(--main-bg-color);
		-webkit-text-stroke: 1px var(--main-text-color); 
		/* text-stroke: 0.8px var(--main-text-color); */
		border-left-style: solid;
		border-left-color: #A1A1A1; 
		overflow-y: hidden;
	}

	.header-white-mobile {
		display: none;
	}
	
	h1 {
		margin-top: -0.5rem;
		margin-left: 0.5rem;
		max-height: 20vh;
	}

	.header-white h1 {
		animation: scroll 3s linear infinite; /* Apply the animation */
	}

	@keyframes scroll {
		0% {
			transform: translateY(0%); /* Start from below */
		}
		100% {
			transform: translateY(-95%); /* Move all the way up */
		}
	}
	
	/* BODY TEXT */

	main {
		/* margin-top: -30rem; */
		/* z-index: 100; */
		position: relative;
		display: block; 
		bottom: 70vh;
		width: 70vw;
		/* 70vw */
		/* margin-left: -1rem; */
		max-height: 70vh;
		overflow-y: auto;
		overflow-x: hidden;
	}

	article {
		margin-top: 2rem; 
		/* margin-right: 40%; */
		margin-left: 0.5rem;
		padding: 1rem; 
		margin-bottom: 5rem;
		margin-right: 3rem;
		width: auto;
		font-size: calc(var(--root-size) * 0.7);
	}
	
	p {
		margin-bottom: 1rem;
		line-height: 1.5;
	}
	
	/* bold */
	#last-sentence {
		font-weight: 700;
	}
	
	/* SECTION TITLES */
	.section-title {
		/* margin-right: 40%; */
		border-top-style: solid;
		border-top-color:  #A1A1A1;
		border-bottom-style: solid;
		border-bottom-color:  #A1A1A1; 
		height: auto;
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 2);
		width: 70vw;
	}
	
	h3 {
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 1.5);
		text-align: right; 
		margin: 1rem; 
		width: 67vw; 
		/* margin-left: auto; */
		margin-bottom: 3.5rem;
		margin-right: 40%;

	}
	
	#h3-in-general {
		margin-bottom: 1rem;
		text-align: left;
		margin-left: 1rem;
		margin-top: -1rem;
	}
	
	.section-emphasis {
		font-size: calc(var(--root-size) * 3);
		margin-left: 1rem;
		margin-bottom: 1rem;
		font-style: italic;
		color: var(--main-bg-color);
		-webkit-text-stroke: 0.8px var(--main-text-color); 
	}
	
	.section-emphasis.what-next{
		padding-top: 2rem;
	}
	
	/* SUBSECTION TITLES */
	.subsection {
		font-size: calc(var(--root-size) * 1.8);
		text-align: left; 
		margin-left: 1.5rem; 
		margin-bottom:-1.5rem;
		font-style: italic;
		color: var(--main-bg-color);
		-webkit-text-stroke: 0.8px var(--main-text-color); 
	}
	
	.subsection.sub1{
		margin-top: -3rem;
	}
	
	.subsection.sub2{
		margin-top: 5rem;
	}
	
	
	/* BLOCKQUOTE */
	#quote {
		/* margin-right: 40%; */
		border-top-style: solid;
		border-top-color:  #A1A1A1; 
		border-bottom-style: solid;
		border-bottom-color:  #A1A1A1; 
	}
	
	blockquote {
		margin: 1.5rem;
		margin-bottom: -0.5rem;
		font-style: italic;
		font-weight: 200;
	}
	
	#quote-author{
		text-align: right;
		margin: 1rem;
		margin-right: 2rem;
	}
	
	/* FOOTER */
	/* footer {
		margin-right: 40%;
		display: flex;             
		justify-content: space-between; 
		align-items: center;      
		padding: 1rem;  
		border-top-style: solid;
		border-top-color:  #A1A1A1; 
		height: auto;   
		font-size: calc(var(--root-size) / 1.5);        
	} */

	footer {
		display: none;
	}

	#desktop-footer {
		display: block;
		display: flex;             
		justify-content: space-between; 
		align-items: center;      
		padding: 1rem;  
		border-top-style: solid;
		border-top-color:  #A1A1A1; 
		height: auto;   
		font-size: calc(var(--root-size) / 1.5);
	}
	
	footer p {
		margin: 0; 
	}
	
	footer address {
		margin: 0;
		text-align: right;
		font-style: normal;          
	}
}

@media (min-width:801px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.2);		
	}
	article {
		font-size: calc(var(--root-size) * 0.7);
	}

	.header-white {
		font-size: calc(var(--root-size) * 4.2);
	}
}


@media (min-width:836px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.3);		
	}
	article {
		font-size: calc(var(--root-size) * 0.7);
	}
	.header-white {
		font-size: calc(var(--root-size) * 4.5);
	}
}



@media (min-width:839px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.4);		
	}
	article {
		font-size: calc(var(--root-size) * 0.7);
	}
	.header-white {
		font-size: calc(var(--root-size) * 4.5);
	}
}



@media (min-width:960px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.8);
	}
	article {
		font-size: calc(var(--root-size) * 0.7);
	}
	.header-white {
		font-size: calc(var(--root-size) * 5);
	}
}


@media (min-width:1051px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.9);
	}

	article {
		font-size: calc(var(--root-size) * 0.9);
	}
	.header-white {
		font-size: calc(var(--root-size) * 5.5);
	}

	.details{
		display: flex;
		font-size: calc(var(--root-size) * 0.8);
}
}

@media (min-width:1119px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 3.2);
	}
}

@media (min-width:1279px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 3.5);
	}

	.header-white {
		font-size: calc(var(--root-size) * 6);
	}
	
}

@media (min-width:1343px) {
	.line {
		width: 35vw;
	}

	.triangle {
		left: 35vw;
	}

	#main-title-desktop {
		font-size: calc(var(--root-size)* 3.8);
	}


	.header-white {
		font-size: calc(var(--root-size) * 6.5);
	}
}
