/* FONTS */
/* Xanh Mono  */ @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Xanh+Mono:ital@0;1&display=swap');
/* Roboto Mono */ @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Xanh+Mono:ital@0;1&display=swap');

:root {
	--root-size: 1.2rem;
	--main-bg-color: #1B1B1B;
	--main-text-color: #edebeb;
	--title-font-family: "Xanh Mono", serif;
	--title-font-weight: 400;
	--title-font-style: normal;
	--body-font-family: "Roboto Mono", serif;
	--body-font-optical-sizing: auto;
	--body-font-weight: 350;
	--body-font-style: normal;
	
}

::selection {
	background: #b22222;
}
body {
	margin: 0;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
	overflow-x: hidden;
}

a:link { 
	color: #edebeb;
	text-decoration: underline;
}

a:hover {
	color:#A1A1A1;
	text-decoration: underline;
}

/* ---------- DEFAULT: MOBILE LAYOUT ---------- */

/* TITLE */


#title-wrapper-desktop {
	display: none;
}

.header-main {
	display: none;
}

#title-wrapper-print {
	display: none;
}

.header-white-print {
	display: none;
}
.header-main-outer-print {
	display: none;
}

#title-wrapper-mobile {
	display: flex; 
	flex-direction: row; 
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border-bottom-style: solid;
	border-bottom-color: #A1A1A1; 
	overflow-x: none;
	
}

.header-main-mobile {
	display: flex;
	flex-direction: column; 
	align-items: flex-end; 
	flex: 1; 
	position: relative; 
	margin: 0;
	max-width: 50%;
}

#main-title-desktop{
	display: none;
}

#main-title-mobile {
	font-family: var(--title-font-family);
	/* font-size: calc(var(--root-size) * 2); */
	font-size: calc(var(--root-size) * 2.2);
	text-align: right; 
	margin-bottom: 0;
	padding-left: 1rem;
	margin-top: 1rem;
}

/* TILE -> Arrows */
.arrows-container-mobile {
	display: flex;
	flex-direction: column; 
	margin-top: 2rem;
}

.arrows-container {
	display: none;
}

#arrow {
	display: block;
	position: relative;
	margin-bottom: 2rem;
}

.line {
	display: block;
	width: 30vw;
	height: 1px;
	background: var(--main-text-color);
}

.triangle {
	display: block;
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	border-left: 0.5rem solid #F2F0EF;
	position: absolute;
	left: 30vw;
	bottom: -0.5rem;
}

/* TILE -> Author and Year */

.details{
	margin-bottom: 1rem;
	font-size: calc(var(--root-size) / 1.5);
}
address, time {
	font-style: italic;
	text-align: right;
}

/* WHITE? */
.header-white {
	display: none;
}

.header-white-mobile {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	text-align: left; 
	margin-left: 1rem;
	flex: 1; 
	font-family: var(--title-font-family);
	font-style: italic;
	font-size: calc(var(--root-size) * 2.5);
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
	/* text-stroke: 0.8px var(--main-text-color);   */
	border-left-style: solid;
	border-left-color: #A1A1A1; 
	overflow-y: hidden;
	/* height: 60vh; */
	height: 65vh; /** too much? **/
	min-width: 50%;
}

h1 {
	margin-left: 0.5rem;
}

.header-white-mobile h1 {
	animation: scroll 3s linear infinite; 
}

@keyframes scroll {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-95%); 
	}
}

/* BODY TEXT */
article {
	/* margin-top: 2rem; 
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	padding: 1rem;  */
	margin-top: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 0.5rem; 
	margin-bottom: 12rem;
	font-size: calc(var(--root-size) * 0.9);
}

p {
	/* margin-bottom: 1rem; */
	margin-bottom: 4rem;
	line-height: 1.8;
}

/* bold */
#last-sentence {
	font-weight: 700;
}


/* SECTION TITLES */
.section-title {
	border-top-style: solid;
	border-top-color: #A1A1A1; 
	border-bottom-style: solid;
	border-bottom-color: #A1A1A1; 
	background-color: #1B1B1B;
	height: auto;
	font-family: var(--title-font-family);
	font-size: calc(var(--root-size) * 2);
	
}

/* .section-title:target {
	font-size: calc(var(--root-size) * 1); /* Smaller size 
	padding: 10px; /* Adjust padding 
	background-color: #edebeb;
}  */


h3 {
	font-family: var(--title-font-family);
	font-size: calc(var(--root-size) * 1.5);
	text-align: right; 
	margin: 1rem; 
	width: 70vw; 
	margin-left: auto;
	margin-bottom: 3.5rem;
}

#h3-in-general {
	margin-bottom: 1rem;
	text-align: left;
	margin-left: 1rem;
	margin-top: 1rem;
	/* margin-left: 2rem; */
	margin-top: -1rem;
}

.section-emphasis {
	display: none;
	font-size: calc(var(--root-size) * 3);
	/* margin-left: 2rem; */
	margin-left: 1rem;
	margin-bottom: 1rem;
	font-style: italic;
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
}

.scroll-container {
	overflow: hidden;
	/* white-space: nowrap; */
	/* width: 100%; */
	/* display: flex;
	gap: 5rem; */
	justify-content: space-between;
	/* flex-direction: horizontal; */
	 display: grid;
	grid-auto-flow: column;

  }

  /* .scroll-content:first-child {
	background-color: red;
  } */
  
   /* .scroll-content {
	display: flex;
	flex-shrink: 0;
	min-width: 100%;
	flex-basis: 100%;
	align-items: center;
	justify-content: space-between;
	animation: scrollX 20s linear infinite;
  } */
   

   .scroll-content {
	display: grid;
	grid-auto-flow: column;  
	/* gap: -5rem;  */
	gap: 0.1rem;
	animation: scrollX 30s linear infinite;
	white-space: nowrap;
  }

  .scroll-content-graphicdesign {
	display: grid;
	grid-auto-flow: column;  
	/* gap: -5rem;  */
	gap: 0.1rem;
	animation: scrollX 90s linear infinite;
	white-space: nowrap;
  }

  @keyframes scrollX {
	0% {
		transform: translateX();
	}
	100% {
		transform: translateX(-50%); 
	}
}


.section-emphasis-scroll {
	font-size: calc(var(--root-size) * 3);
	display: inline-block;
	/* margin-left: 2rem; */
	font-style: italic;
	margin-left: 1rem;
	margin-bottom: 1rem;
	font-style: italic;
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
}


.section-emphasis.what-next {
	padding-top: 2rem;
	/* margin-left: 2rem; */
	margin-left: 1rem;
}


/* SUBSECTION TITLES */
.subsection {
	font-size: calc(var(--root-size) * 1.8);
	text-align: left; 
	margin-left: 1.5rem; 
	margin-bottom:-1.5rem;
	font-style: italic;
	color: var(--main-bg-color);
	-webkit-text-stroke: 0.8px var(--main-text-color); 
}

.subsection.sub1{
	margin-top: -3rem; 
	margin-bottom: 1rem; /** neww **/
}

.subsection.sub2{
	margin-top: 5rem;
	margin-bottom: 1rem; /** neww **/
}

.subsection-article{
	margin-top: 0.5rem;
}

/* BLOCKQUOTE */
#quote {
	border-top-style: solid;
	border-top-color:  #A1A1A1; 
	border-bottom-style: solid;
	border-bottom-color:  #A1A1A1; 
}

blockquote {
	/* margin: 1.5rem; */
	margin: 1rem;
	margin-bottom: -0.5rem;
	font-style: italic;
	font-weight: 200;
	line-height: 1.5;
}

#quote-author{
	text-align: right;
	margin: 1rem;
}

/* FOOTER */
footer {
	display: flex;             
	justify-content: space-between; 
	align-items: center;      
	padding: 1rem;  
	border-top-style: solid;
	border-top-color:  #A1A1A1; 
	height: auto;   
	/* font-size: calc(var(--root-size) / 1.5);    */
	font-size: calc(var(--root-size) / 1.5);   
	    
}

footer p {
	margin: 0; 
	/* width: 30%; */
}

footer address {
	margin: 0;
	text-align: right;
	font-style: normal;   
	/* width: 30%; */
       
} 

#desktop-footer {
	display:none;
}

#main-title-text { 
	display: none;
}

@media (min-width:430px) {
	.header-white-mobile {
		font-size: calc(var(--root-size)* 3);
	}
	.subsection {
		font-size: calc(var(--root-size) * 2);
		width: 100%;
	}
}

@media (min-width:515px) {
	.header-white-mobile {
		font-size: calc(var(--root-size)* 4);
	}

	.triangle {
		left: 40vw;
	}
	
	.line {
		width: 40vw;
	}

	.details {
		font-size: calc(var(--root-size) * 0.8);
	}

	
}

/* ---------- MEDIA QUERIES: TABLET TO DESKTOP ---------- */

@media (min-width:600px) {
	
	body {
		height: 100vh;
	}
	
	footer {
		display: none;
	}
	
	/* TITLE */
	#title-wrapper-mobile {
		display: none;
	}

	#title-wrapper-print {
		display: none;
	}
	
	.header-white-print {
		display: none;
	}
	
	#title-wrapper-desktop {
		display: flex; 
		/* flex-direction: row;  old*/
		justify-content: right;
		/* align-items: center; old*/
		margin: 0;
		padding: 0;
		/*border-bottom-style: solid;
		border-bottom-color: #A1A1A1; old */
		min-height: 100vh;
	}
	
	#main-title-text {
		display: flex;
		flex-direction: column;
		margin-right: 0;
	}
	
	.header-main-mobile {
		display: none;
	}

	.header-main-outer-print{
		display: none;
	}

	.header-main-outer {
		position: sticky;
		/* display: block;  */
		/* position: relative; */
		display: flex;
		/* flex-direction: row; from column old */
		/* flex-wrap: wrap;old */
		/* justify-content: flex-start; old*/
		justify-content: space-evenly;
		align-items: center; 
		/* position: relative;  */
		border-bottom-style: solid;
		border-bottom-color: #A1A1A1; 
		margin: 0;
		/* height: 30vh; */
		height: 20vh;
		top: -5vh;
		background: var(--main-bg-color);
		z-index: 5;
		
		
	}

	.header-main-inner {
		position: sticky; 
		height: 15vh;
		top: 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0;
		padding-left: 0;
		margin-left: 0;
		margin-top: 1rem;
		width: 80vw;
		bottom: 100vh;
		padding-bottom: 1rem;
		
	}
	
	#main-title-desktop {
		display: block;
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 2); 
		text-align: left; 
		margin-bottom: 0;
		padding-left: 1rem;
		padding-top: 0.8rem; /** 1.5rem; **/
		width: 100%;
		/* margin-left: 1rem; */
		padding-top: 1rem;
	}
	
	#main-title-mobile {
		display: none;
	}
	
	/* TITLE -> Arrows */
	.arrows-container {
		display: flex;
		flex-direction: column; 
		/* padding: 1rem; */
		margin-bottom: -0.5rem;
		padding-right: 2rem;
		/* margin-left: 1rem; */
		margin-top: -1rem;
	}
	
	.arrows-container-mobile {
		display: none;
	}
	
	#arrow {
		display: flex;
		position: relative;
		margin-bottom: 1.5rem;
		/* padding-bottom: -5rem; */
	}
	
	.line {
		display: block;
		width: 25vw; /* 40vw */
		height: 1px;
		background: var(--main-text-color);
	}
	
	.triangle {
		display: block;
		width: 0;
		height: 0;
		border-top: 0.5rem solid transparent;
		border-bottom: 0.5rem solid transparent;
		border-left: 0.5rem solid #F2F0EF;
		position: absolute;
		left: 25vw; /* 40vw */
		bottom: -0.5rem;
	}
	
	/* TITLE -> Author and year */
	.details{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-width: 10vw;
		font-style: italic;
		text-align: right;
		margin-left: 1rem;
		font-size: calc(var(--root-size) * 0.6);
		margin-top: 0rem;
		/* padding-bottom: 2rem; */
		/* margin-left: 2rem; */
	}
	
	/* WHITE? */
	.header-white {
		height: 100vh;
		/* position: sticky; */
		position: fixed;
		display: flex;
		flex-direction: column;
		text-align: left; 
		/* margin-right: 2rem; */
		flex: 1; 
		font-family: var(--title-font-family);
		font-style: italic;
		font-size: calc(var(--root-size) * 4);
		color: var(--main-bg-color);
		-webkit-text-stroke: 1px var(--main-text-color); 
		border-left-style: solid;
		border-left-color: #A1A1A1; 
		overflow-y: hidden;
		width: 30vw;
	}
	
	.header-white-mobile {
		display: none;
	}
	
	h1 {
		margin-top: -0.5rem;
		margin-left: 0.5rem;
		max-height: 20vh;
		max-width: 100%;
	}
	
	.header-white h1 {
		animation: scroll 3s linear infinite; 
	}
	
	@keyframes scroll {
		0% {
			transform: translateY(0%); 
		}
		100% {
			transform: translateY(-95%); 
		}
	}
	
	/* BODY TEXT */
	main {
		position: relative;
		display: block; 
		/* bottom: 70vh; */
		bottom: 100vh;
		width: 70vw;
		/* 70vw */
		max-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		/* bottom: -70vh; */

	}
	
	article {
		margin-top: 4rem; 
		margin-left: 2rem;
		padding: 1rem; 
		margin-bottom: 7rem;
		margin-right: 3rem;
		width: auto;
		font-size: calc(var(--root-size) * 0.7);
	}
	
	p {
		/* margin-bottom: 1rem; */
		margin-bottom: 3rem;
		line-height: 1.5;
	}
	
	/* bold */
	#last-sentence {
		font-weight: 700;
	}
	
	/* SECTION TITLES */
	.section-title {
		border-top-style: solid;
		border-top-color:  #A1A1A1;
		border-bottom-style: solid;
		border-bottom-color:  #A1A1A1; 
		height: auto;
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 2);
		width: 70vw;
	}
	
	h3 {
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 1.5);
		text-align: right; 
		margin: 1rem; 
		width: 67vw; 
		margin-bottom: 3.5rem;
		margin-right: 40%;	
	}
	
	#h3-in-general {
		margin-bottom: 1rem;
		text-align: left;
		margin-left: 2rem;
		margin-top: -1rem;
	}

	#section-emphasis-white{
		display: none;
	}
	
	.section-emphasis {
		display: block;
		font-size: calc(var(--root-size) * 3);
		margin-left: 2rem;
		margin-bottom: 1rem;
		font-style: italic;
		color: var(--main-bg-color);
		-webkit-text-stroke: 0.8px var(--main-text-color); 
	}
	
	.section-emphasis.what-next{
		padding-top: 2rem;
	}

	.scroll-container{
		display: none;
	}
	
	/* SUBSECTION TITLES */
	.subsection {
		font-size: calc(var(--root-size) * 3);
		text-align: left; 
		margin-left: 2rem; 
		margin-bottom: -1.5rem;
		font-style: italic;
		color: var(--main-bg-color);
		-webkit-text-stroke: 0.8px var(--main-text-color); 
	}
	
	.subsection.sub1{
		margin-top: -3rem;
	}
	
	.subsection.sub2{
		margin-top: 5rem;
	}
	
	/* BLOCKQUOTE */
	#quote {
		border-top-style: solid;
		border-top-color:  #A1A1A1; 
		border-bottom-style: solid;
		border-bottom-color:  #A1A1A1; 
	}
	
	blockquote {
		margin: 2rem;
		margin-bottom: -0.5rem;
		font-style: italic;
		font-weight: 200;
	}
	
	#quote-author{
		text-align: right;
		margin: 1rem;
		margin-right: 2rem;
	}
	
	/* FOOTER */
	footer {
		display: none;
	}
	
	#desktop-footer {
		display: block;
		display: flex;             
		justify-content: space-between; 
		align-items: center;      
		padding: 1rem;  
		border-top-style: solid;
		border-top-color:  #A1A1A1; 
		height: auto;   
		font-size: calc(var(--root-size) / 1.5);
	}
	
	footer p {
		margin-left: 1rem; 
	}
	
	footer address {
		margin: 0;
		text-align: right;
		font-style: normal;          
	}
}


/* @media (min-width:623px) {
	
	#main-title-desktop {
		font-size: calc(var(--root-size)*1);		
	}
} */

@media (min-width:650px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 1.7);		
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2);		
	}
	/* article {
		font-size: calc(var(--root-size) * 0.7);
	} */
	article {
		font-size: calc(var(--root-size) * 0.8);
	}
	
	.header-white {
		font-size: calc(var(--root-size) * 4);
	}

}

/* COPY PASTE FROM THIS TO MAIN FILE */
@media (min-width:650px) {
	.line {
		width: 30vw;
	}
	.triangle {
		left: 30vw;
	}
}

@media (min-width:700px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 1.9);		
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2);		
	}
	/* article {
		font-size: calc(var(--root-size) * 0.7);
	} */
	/* article {
		font-size: calc(var(--root-size) * 1);
	} */
	
	.header-white {
		font-size: calc(var(--root-size) * 4);
	}

}

@media (min-width: 740px){
	.line {
		width: 35vw;
	}

	.triangle {
		left: 35vw;
	}
}

@media (min-width:801px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 2.2);		
	}  */
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 1.8);		
	}  */
	/* article {
		font-size: calc(var(--root-size) * 0.7);
	} */
	article {
		font-size: calc(var(--root-size) * 1);
	}
	
	.header-white {
		font-size: calc(var(--root-size) * 4.2);
	}
	
	#arrow {
		margin-bottom: 1.5rem;
	}
}


@media (min-width:836px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 2.5);		
	}  */
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 1.9);		
	} */
	/* article {
		font-size: calc(var(--root-size) * 0.7);
	} */
	article {
		font-size: calc(var(--root-size) * 1);
	}
	.header-white {
		font-size: calc(var(--root-size) * 4.5);
	}

	.line {
		width: 30vw;
	}

	.triangle {
		left: 30vw;
	}
}


@media (min-width:837px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 2.4);		
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2);		
	}
	/* article {
		font-size: calc(var(--root-size) * 0.7);
	} */
	article {
		font-size: calc(var(--root-size) * 1);
	}
	.header-white {
		font-size: calc(var(--root-size) * 4.5);
	}

	.line {
		width: 10vw;
	}

	.triangle {
		left: 10vw;
	}
}


@media(min-width: 844px) {

	.line {
		width: 12vw;
	}

	.triangle {
		left: 12vw;
	}
}


@media(min-width: 850px) {

	.line {
		width: 15vw;
	}

	.triangle {
		left: 15vw;
	}
}



@media (min-width:890px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 2.4);		
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.0);		
	}
	/* article {
		font-size: calc(var(--root-size) * 0.7);
	} */
	article {
		font-size: calc(var(--root-size) * 1);
	}
	.header-white {
		font-size: calc(var(--root-size) * 4.5);
	}

	.line {
		width: 15vw;
	}

	.triangle {
		left: 15vw;
	}
}

@media(min-width: 950px) {

	.line {
		width: 20vw;
	}

	.triangle {
		left: 20vw;
	}
}


@media (min-width:960px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 2.8);
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.2);
	}
	/* article {
		font-size: calc(var(--root-size) * 0.7);
	} */
	article {
		font-size: calc(var(--root-size) * 1);
	}
	.header-white {
		font-size: calc(var(--root-size) * 5);
	}

	.arrow-container{
		margin-top: 1rem;
	}

	.line {
		width: 15vw;
	}

	.triangle {
		left: 15vw;
	}
}


@media (min-width:1051px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 2.9);
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.4);
	}
	/* article {
		font-size: calc(var(--root-size) * 0.9);
	} */
	article {
		font-size: calc(var(--root-size) * 1);
	}
	.header-white {
		font-size: calc(var(--root-size) * 5.5);
	}
	
	.details{
		display: flex;
		font-size: calc(var(--root-size) * 0.8);
	}
}
@media (min-width:1119px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 3.2);
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.5);
	}
}

@media (min-width: 1123px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.5);
	}
}


@media (min-width: 1133px) {
	#main-title-desktop {
		font-size: calc(var(--root-size)* 2.5);
	}
}


@media (min-width:1279px) {
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 3.5);
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 3);
	}
	
	.header-white {
		font-size: calc(var(--root-size) * 6);
	}
	
}

@media (min-width:1343px) {
	.line {
		/* width: 35vw; */
		width: 15vw;
	}
	
	.triangle {
		/* left: 35vw; */
		left: 15vw;
	}
	
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 3.6);
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 3.4);
	}
	
	.header-white {
		font-size: calc(var(--root-size) * 6);
	}
}

@media (min-width:1920px) {
	.line {
		/* width: 35vw; */
		width: 25vw;
	}
	
	.triangle {
		/* left: 35vw; */
		left: 25vw;
	}
	
	/* #main-title-desktop {
		font-size: calc(var(--root-size)* 3.6);
	} */
	#main-title-desktop {
		font-size: calc(var(--root-size)* 3.4);
	}
	
	.header-white {
		font-size: calc(var(--root-size) * 6.5);
	}
}

/** --------------PRINT-------------------- **/

/* Global Print Settings */
@media print {
	@page {
		background-color: #ffffff;
	}

	* {
		overflow: visible !important;
		background-color: #ffffff !important;
	}

	 #body-print {
		background-color: #ffffff;
		color: #1B1B1B;
	} 

	#title-wrapper-mobile {
		display: none;
	}

	#title-wrapper-desktop {
		display: none;
	}

	#title-wrapper-print {
		display: flex; 
		justify-content: right;
		margin: 0;
		padding: 0;
		min-height: 100vh;
	}

	#main-title-text {
		display: none;
	}

	#main-title-text-print {
		display: flex;
		flex-direction: column;
		margin-right: 0;
	}

	.header-main-mobile {
		display: none;
	}

	.header-main-outer {
		display: none;
	}

	.header-main-inner {
		display: none;
	}

	.header-main-outer-print {
		display: flex;
		justify-content: space-evenly;
		align-items:normal; 
		border-bottom-style: solid;
		border-bottom-color: #A1A1A1; 
		border-width: 1px;
		margin: 0;
		height: 20vh;
		top: -5vh;
		margin-top: -1.6rem;
		background: #ffffff; 
		z-index: 5;
	}


	.header-main-inner-print {
		/* position: sticky; 
		height: 15vh; */
		top: 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0;
		padding-left: 0;
		margin-left: 0;
		margin-top: 1.5rem;
		width: 80vw;
		bottom: 100vh;
	}

	#main-title-print {
		display: block;
		color: #1B1B1B;
		font-family: var(--title-font-family);
		font-size: 2.5rem; /** calc(var(--root-size) * 1.5); **/
		text-align: left; 
		margin-bottom: 0;
		padding-left: 1rem;
		padding-top: 0.8rem; /** 1.5rem; **/
		width: 100%;
		margin-left: 1rem;
	}

	#main-title-mobile {
		display: none;
	}


	/* TITLE -> Arrows */
	.arrows-container-mobile {
		display: none;
	}

	.arrows-container {
		display: none;
	}

	.arrows-container-print {
		display: flex;
		flex-direction: column; 
		color: #1B1B1B;
		/* padding: 1rem; */
		margin-bottom: -1rem;
		padding-right: 2rem;
		margin-left: 1rem;
		margin-top: -1rem;
	}


	#arrow-print {
		display: flex;
		position: relative;
		margin-bottom: 1.5rem;
		/* padding-bottom: -5rem; */
	}

	.line-print {
		display: block !important;
		width: 30vw; /* 40vw */
		height: 1px;
		border-style: solid;
		border-width: 1px;
		border-color: #1B1B1B;
		background: var(--main-bg-color);
		visibility: visible !important;
		/* background: var(--main-text-color); */
	}

	.triangle-print {
		display: block;
		width: 0;
		height: 0;
		border-top: 0.5rem solid transparent;
		border-bottom: 0.5rem solid transparent;
		border-left: 0.5rem solid #1B1B1B;;
		position: absolute;
		left: 30vw; /* 40vw */
		bottom: -0.5rem;
	}

	/* TITLE -> Author and year */
	.details-print{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-width: 10vw;
		font-style: italic;
		text-align: left;
		margin-left: 1rem;
		font-size: calc(var(--root-size) * 0.6);
		color: #1B1B1B;
		margin-top: 0rem;
		/* padding-bottom: 2rem; */
		margin-left: 2rem;
	}
	
	.header-white-print {
		height: 100vh;
		/* position: sticky; */
		position: fixed;
		display: flex;
		flex-direction: column;
		text-align: left; 
		/* margin-right: 2rem; */
		flex: 1; 
		font-family: var(--title-font-family);
		font-style: italic;
		font-size: calc(var(--root-size) * 3.4);
		background-color: #ffffff;
		color: #ffffff;
		-webkit-text-stroke: 1px var(--main-bg-color); 
		border-left-style: solid;
		border-left-color: #A1A1A1; 
		border-top: 0;
		border-width: 1px;
		width: 30vw;
		margin-left: 70vw;
		bottom: 100vw; 
	}

	.header-white-mobile {
		display: none;
	}
	
	h1 {
		margin-top: -0.5rem;
		margin-left: 1rem;
		max-height: 20vh;
		max-width: 100%;
	}

	/* BODY TEXT */
	main {
		position: relative;
		display: block; 
		/* bottom: 70vh; */
		/* bottom: 100vh; */
		width: 70vw;
	}

	article {
		margin-top: 1rem; 
		margin-left: 1rem;
		margin-bottom: 1.5rem;
		margin-right: 3rem;
		width: auto;
		font-size: calc(var(--root-size) * 0.6);
		background-color: #ffffff;
		color: #1B1B1B;
		background-clip: padding-box;
		
	} 

	p {
		margin-bottom: 1.5rem;
		line-height: 1.5;
	}

	/* bold */
	#last-sentence {
		font-weight: 700;
	}

	/* SECTION TITLES */
	.section-title {
		border-bottom-style: solid;
		border-bottom-color:  #A1A1A1; 
		border-top-style: solid;
		border-top-color: #A1A1A1; 
		border-width: 1px;
		height: auto;
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 1);
		width: 70vw;
		background-color: #ffffff;
		color: #1B1B1B;
	}


	h3 {
		font-family: var(--title-font-family);
		font-size: calc(var(--root-size) * 1);
		text-align: right; 
		margin: 1rem; 
		width: 67vw; 
		margin-bottom: 1rem;
		margin-right: 40%;	
	}

	#h3-in-general {
		margin-bottom: 1rem;
		text-align: left;
		margin-left: 1rem;
		margin-top: -1rem;
	}

	.section-emphasis {
		font-size: calc(var(--root-size) * 2);
		margin-left: 1rem;
		margin-bottom: 1rem;
		font-style: italic;
		background-color: #ffffff;
		color: #ffffff;
		-webkit-text-stroke: 0.6px var(--main-bg-color); 
	}

	.section-emphasis.what-next{
		padding-top: 1rem;
	}

	/* SUBSECTION TITLES */
	.subsection {
		font-size: calc(var(--root-size) * 2);
		text-align: left; 
		margin-left: 1rem; 
		margin-bottom: 0.5rem;
		font-style: italic;
		color: var(--main-bg-color);
		background-color: #ffffff;
		-webkit-text-stroke: 0.3px var(--main-text-color); 
	}

	.subsection.sub1{
		margin-top: -1rem;
	}

	.subsection.sub2{
		margin-top: 1rem;
	}

	/* BLOCKQUOTE */
	#quote {
		border-top-style: solid;
		border-top-color:  #A1A1A1; 
		border-bottom-style: solid;
		border-bottom-color:  #A1A1A1; 
		border-width: 1px;
		background-color: #ffffff;
		color: #1B1B1B;
	}

	blockquote {
		/* margin: 2rem; */
		margin-top: 0.5rem;
		margin-bottom: -0.5rem;
		margin-left: 1rem;
		font-style: italic;
		font-weight: 200;
		font-size: 0.7rem;
	}

	#quote-author{
		text-align: right;
		margin: 1rem;
		margin-right: 2rem;
		font-size: 0.8rem;
	}

	a:link { 
		color:#1B1B1B;
		text-decoration: underline;
	}

	/* FOOTER */
	footer {
		display: none;
	}

	#desktop-footer {
		display: flex;             
		justify-content: space-between; 
		align-items: center;      
		padding: 1rem;  
		border-top-style: solid;
		border-top-color:  #A1A1A1; 
		border-width: 1px;
		height: auto;   
		font-size: 12px;
		margin: auto;
		color: #1B1B1B;
	}

	footer p {
		margin-left: 1rem; 
	}

	footer address {
		margin: 0;
		text-align: right;
		font-style: normal;          
	}

	.scroll-container {
		display: none;
	}

	.scroll-content {
		display: none;
	}

	.section-emphasis-scroll {
		display: none;
	}
}
